.container{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    height: 40em;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
