.AppointContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    font-family:'Delius', cursive;
    color: hsl(266, 79%, 34%);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    align-self: flex-start;
    font-family:'Delius', cursive;
    max-width: 1400px;
}

.tableContainer {
    width: 100%;
    max-width: 1400px;
    border: 2px solid hsl(261, 93%, 16%);
    border-radius: 12px;
    padding: 0.8rem;
    background-color: hsl(0, 0%, 100%, 0.5);
}

.headerRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.rowsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.tableContainer,
.headerRow,
.rowsContainer {
    border-color: hsl(261, 40%, 57%);
    border-width: 2px;
}
