.main {
    width: 100%;
    height: calc(100vh - 5em);
    border-radius: 15px;
    background: hsl(274, 74%, 47%, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.main > h1 {
    font-size: 2em;
    font-weight: 600;
    color: rgb(223, 219, 226);
    filter: drop-shadow(0 0 15px rgba(74, 17, 148, 0.8));
}